@charset "UTF-8";
blockquote {
  font-size: 16px;
}

blockquote p {
  margin-bottom: 1em;
  padding-right: 2em;
}

body {
  color: #111;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

caption {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  text-align: center;
}

cite {
  font-style: italic;
}

dt, dd {
  font-size: 16px;
}

dl {
  margin-left: 50%;
}

h1, h2, h3, .breadcrumb, .lead, .navigation, .panel-heading {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}

h4 {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-weight: bold;
}

h5 {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-size: 17.5px;
  font-weight: 700;
  text-align: center;
}

h6 {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

article p, article li, article dl {
  font-size: 17.5px;
  line-height: 1.5;
}

cite {
  font-style: italic;
}

dt {
  margin-top: 1em;
}

dd {
  margin-left: 1em;
}

figure, iframe, object {
  margin-left: 10px;
  margin-bottom: 10px;
}

form {
  padding-bottom: 1em;
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

section {
  padding-top: 1em;
}

sub {
  bottom: -0.25em;
  font-size: smaller;
  vertical-align: baseline;
  position: relative;
}

summary {
  display: list-item;
  cursor: pointer;
}

sup {
  bottom: 0.33em;
  font-size: smaller;
  vertical-align: baseline;
  position: relative;
}

.breadcrumb {
  margin-top: 1em;
}

.columns {
  column-gap: 1em;
  margin-bottom: 1em;
}

.embed-responsive {
  margin-bottom: 1em;
}

.footer {
  border-color: green;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding-top: 1em;
}

.header {
  border-bottom: green;
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  text-align: center;
}

.indent {
  padding: 1em 2em 1em 2em;
  text-align: center;
}

.linker {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  padding-bottom: 1em;
}

.navigation a {
  color: gray;
  background-color: white;
  font-size: 100%;
  text-decoration: none;
  margin: 0;
  padding: 1px 5px 1px 10px;
  border-left: 1px solid green;
  display: block;
}

.navigation h4 {
  color: maroon;
  font-weight: bold;
  font-size: 100%;
  background-color: transparent;
  margin: 0;
  padding: 1em 5px 0 2px;
  border-bottom: 1px solid green;
  border-left: 1px solid green;
}

.navigation a:hover {
  color: blue;
  background-color: #ff9;
  padding-left: 7px;
  border-left: 4px solid maroon;
}

.navigation a#comment {
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  border-color: rgb(153, 122, 102);
  background-color: #ffeae5;
  color: black;
  padding-left: 7px;
}

.pdf, #pdf, .scribd_iframe_embed {
  height: 600px;
  width: 100%;
}

.pressac {
  padding-left: 1em;
}

.pull-left {
  margin-right: 1em;
}

.pull-right {
  margin-left: 1em;
}

#redvols {
  color: red;
  font-style: italic;
  font-weight: bold;
}

#redvols a {
  color: red;
  text-decoration: none;
}

/* back to top */
#top-link-block.affix-top {
  position: absolute;
  /* allows it to "slide" up into view */
  bottom: -82px;
  right: 1em;
}

#top-link-block.affix {
  position: fixed;
  /* keeps it on the bottom once in view */
  bottom: 60px;
  right: 1em;
}

@media (min-width: 768px) {
  .columns {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .columns {
    column-count: 3;
  }
}
